<h1><%=@destination.name%></h1>

<img src="<%=@destination.image%>" alt = "destination"><br><br>

<label>Location: </label><%=@destination.location%><br><br>
<label>Things To Do: </label><%=@destination.things_to_do%><br><br>
<label>Best Time To Visit: </label><%=@destination.ideal_time_to_visit%><br><br>
<label>Currency: </label><%=@destination.currency%><br><br>

<form action="/destinations/<%=@destination.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @destination.user == current_user%>
        <input type="submit" value="Delete Destination">
    <%end%>
</form>
